[submodule "dep/VulkanMemoryAllocator"]
	path = dep/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "dep/tinyobjloader"]
	path = dep/tinyobjloader
	url = git@github.com:tinyobjloader/tinyobjloader.git
[submodule "dep/stb"]
	path = dep/stb
	url = git@github.com:nothings/stb.git
